.daily {
  font-size: 2rem;
  text-align: center;
  padding: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.dialog {
  border-radius: 8px;
  padding: 20px;
  border: solid 2px #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
